<div class="container answer-contet">
  <div class="answer-top">
    <div class="answer-image">
      <img src="images/thumb-1920-943148.jpg" alt="">
    </div>
    <div class="answer-question">
      {{question}}
      <div class="triangle">
      </div>
    </div>
  </div>
  <div class="progressbar">
  </div>
</div>
<div class="answer-bottom">
  <div class="container answer-bottom-in">
    <div class="row">
      <div class="col-md-6">
        <div class="answer-1">
          {{answer1}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="answer-2">
          {{answer2}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="answer-3">
          {{answer3}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="answer-4">
          {{answer4}}
        </div>
      </div>
    </div>
  </div>
</div>