<header class="quiz-header">
    <div class="quiz-logo">
        <img src="images/logo/logo-w.png" class="img-quiz-logo" alt="">
    </div>
</header>
<form action="/quiz" method="POST" >
    <div class="quiz-content">
        <div class="quiz-image">
            <img src="images/thumb-1920-943148.jpg" alt="">
        </div>
        <div class="quiz-right">
            <div class="dropdown">
                <div class="select-box select-box-1 ">
                    <select name="visibility" id="">
                        {{#each visibility}}
                        <option value="{{option}}">{{option}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="select-box select-box-2">
                    <select name="location" id="">
                        {{#each location}}
                        <option value="{{option}}">{{option}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="select-box select-box-3">
                    <select name="language" id="">
                        {{#each language}}
                        <option value="{{option}}">{{option}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <input type="text" name="title" placeholder="Title" class="txt-title">
            <textarea placeholder="Description" name="description" class="txt-description"></textarea>
        </div>
    </div>
    <div class="quiz-questions">
        <h2>Questions</h2>
        <div class="questions-image">
            {{#each questions}}
            <div class="questions-image-in">
                <div class="q-image">
                    <img src="{{imageurl}}" alt="">
                </div>
                <div class="spn-questions">Question {{@index}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="quiz-enter-button">
        <button type="submit" class="btn-quiz-enter">Enter</button>
    </div>
</form>